target/META-INF/mule-src/fins-core-banking-account_system-api/src/main/mule/fins-core-banking-accounts-sys-api-spec.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="fins-core-banking-accounts-sys-api-spec-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="fins-core-banking-accounts-sys-api-spec-config" api="resource::org.mule.examples:fins-core-banking-accounts-sys-api-spec:1.4.3:raml:zip:fins-core-banking-accounts-sys-api-spec.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="fins-core-banking-accounts-sys-api-spec-main">
        <http:listener config-ref="fins-core-banking-accounts-sys-api-spec-httpListenerConfig" path="/api/*" allowedMethods="GET,POST">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="fins-core-banking-accounts-sys-api-spec-config" />
        <logger level="INFO" doc:name="Logger" doc:id="f2eeb921-31e0-49a8-b240-2178e5b23def" message="Welcome to the FINS Core Banking Accounts System API"/>
		<error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="fins-core-banking-accounts-sys-api-spec-console">
        <http:listener config-ref="fins-core-banking-accounts-sys-api-spec-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="fins-core-banking-accounts-sys-api-spec-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="patch:\accounts\(accountId):application\json:fins-core-banking-accounts-sys-api-spec-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="accountId">attributes.uriParams.'accountId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: null,
  name: "Martin's Savings Account",
  accountNumber: "00007604",
  accountType: "Account",
  primaryAccountOwner: "b7c4eddf-9c67-11eb-b4c8-0233bdd64096",
  accountStatus: "OPEN",
  accountBalance: 1.2,
  availableBalance: 1.2,
  accountCurrency: "USD",
  accountLabel: "Rainy Day",
  interestRate: 0.25,
  taxIdentificationNumber: "012345678",
  openedDate: "2020-03-15",
  auditInfo: {
    createdDate: "2020-03-15T15:03:01Z",
    createdBy: "system",
    updatedDate: "2020-03-15T15:03:01Z",
    updatedBy: "system",
    isDeleted: false
  }
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="patch:\cards\(cardId):application\json:fins-core-banking-accounts-sys-api-spec-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="cardId">attributes.uriParams.'cardId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: null,
  name: "Bank Card",
  cardType: "Card",
  cardNumber: "1111111111111111",
  cardholderName: "Anonymous Guest",
  cardOwnerId: "f27abff9-0b00-47d6-a035-5d59470ec044",
  cardPin: "9999",
  cardStatus: "ACTIVE",
  auditInfo: {
    createdDate: "2020-03-15T15:03:01Z",
    createdBy: "system",
    updatedDate: "2020-03-15T15:03:01Z",
    updatedBy: "system",
    isDeleted: false
  }
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="patch:\transactions\(transactionId):application\json:fins-core-banking-accounts-sys-api-spec-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="transactionId">attributes.uriParams.'transactionId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: null,
  name: "T-000000016",
  description: "Credit Card Purchase",
  accountOwnerId: "b7c4eddf-9c67-11eb-b4c8-0233bdd64096",
  transactionNumber: 39732845,
  transactionAmount: 15,
  transactionType: "DebitTransaction",
  transactionSubType: "ATM",
  transactionStatus: "POSTED",
  transactionDate: "2020-03-15",
  postedDate: "2020-03-15",
  vendorName: "A&M Records",
  isDisputed: true,
  disputedReason: "FRAUD",
  notes: "Transaction processed",
  auditInfo: {
    createdDate: "2020-03-15T15:03:01Z",
    createdBy: "system",
    updatedDate: "2020-03-15T15:03:01Z",
    updatedBy: "system",
    isDeleted: false
  }
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\accounts:fins-core-banking-accounts-sys-api-spec-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "400",
  errorMessage: "Invalid request message",
  transactionId: "dd960082-abbf-47c2-8c65-f18eeb35848b",
  timeStamp: "2019-09-30T15:27:49.274Z"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\accounts\(accountId)\cards:fins-core-banking-accounts-sys-api-spec-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="accountId">attributes.uriParams.'accountId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "400",
  errorMessage: "Invalid request message",
  transactionId: "dd960082-abbf-47c2-8c65-f18eeb35848b",
  timeStamp: "2019-09-30T15:27:49.274Z"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\cards:fins-core-banking-accounts-sys-api-spec-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "400",
  errorMessage: "Invalid request message",
  transactionId: "dd960082-abbf-47c2-8c65-f18eeb35848b",
  timeStamp: "2019-09-30T15:27:49.274Z"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\accounts\(accountId)\transactions\history:fins-core-banking-accounts-sys-api-spec-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="accountId">attributes.uriParams.'accountId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "400",
  errorMessage: "Invalid request message",
  transactionId: "dd960082-abbf-47c2-8c65-f18eeb35848b",
  timeStamp: "2019-09-30T15:27:49.274Z"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\ping:fins-core-banking-accounts-sys-api-spec-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "OK",
  apiName: "accelerator-salesforce-sys-api",
  apiVersion: "1.3.0",
  timestamp: "2020-08-01T13:15:25.000Z",
  dependencies: [
    {
      name: "Salesforce",
      status: "UP"
    }
  ]
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\accounts\(accountId)\transactions:fins-core-banking-accounts-sys-api-spec-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="accountId">attributes.uriParams.'accountId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "400",
  errorMessage: "Invalid request message",
  transactionId: "dd960082-abbf-47c2-8c65-f18eeb35848b",
  timeStamp: "2019-09-30T15:27:49.274Z"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\transactions:fins-core-banking-accounts-sys-api-spec-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "400",
  errorMessage: "Invalid request message",
  transactionId: "dd960082-abbf-47c2-8c65-f18eeb35848b",
  timeStamp: "2019-09-30T15:27:49.274Z"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\accounts\(accountId):fins-core-banking-accounts-sys-api-spec-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="accountId">attributes.uriParams.'accountId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: null,
  name: "Martin's Savings Account",
  accountNumber: "00007604",
  accountType: "Account",
  primaryAccountOwner: "b7c4eddf-9c67-11eb-b4c8-0233bdd64096",
  accountStatus: "OPEN",
  accountBalance: 1.2,
  availableBalance: 1.2,
  accountCurrency: "USD",
  accountLabel: "Rainy Day",
  interestRate: 0.25,
  taxIdentificationNumber: "012345678",
  openedDate: "2020-03-15",
  auditInfo: {
    createdDate: "2020-03-15T15:03:01Z",
    createdBy: "system",
    updatedDate: "2020-03-15T15:03:01Z",
    updatedBy: "system",
    isDeleted: false
  }
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\cards\(cardId):fins-core-banking-accounts-sys-api-spec-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="cardId">attributes.uriParams.'cardId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: null,
  name: "Bank Card",
  cardType: "Card",
  cardNumber: "1111111111111111",
  cardholderName: "Anonymous Guest",
  cardOwnerId: "f27abff9-0b00-47d6-a035-5d59470ec044",
  cardPin: "9999",
  cardStatus: "ACTIVE",
  auditInfo: {
    createdDate: "2020-03-15T15:03:01Z",
    createdBy: "system",
    updatedDate: "2020-03-15T15:03:01Z",
    updatedBy: "system",
    isDeleted: false
  }
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\transactions\(transactionId):fins-core-banking-accounts-sys-api-spec-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="transactionId">attributes.uriParams.'transactionId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: null,
  name: "T-000000016",
  description: "Credit Card Purchase",
  accountOwnerId: "b7c4eddf-9c67-11eb-b4c8-0233bdd64096",
  transactionNumber: 39732845,
  transactionAmount: 15,
  transactionType: "DebitTransaction",
  transactionSubType: "ATM",
  transactionStatus: "POSTED",
  transactionDate: "2020-03-15",
  postedDate: "2020-03-15",
  vendorName: "A&M Records",
  isDisputed: true,
  disputedReason: "FRAUD",
  notes: "Transaction processed",
  auditInfo: {
    createdDate: "2020-03-15T15:03:01Z",
    createdBy: "system",
    updatedDate: "2020-03-15T15:03:01Z",
    updatedBy: "system",
    isDeleted: false
  }
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\accounts:application\json:fins-core-banking-accounts-sys-api-spec-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  responseStatus: "SUCCESS"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\accounts\(accountId)\cards:application\json:fins-core-banking-accounts-sys-api-spec-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="accountId">attributes.uriParams.'accountId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  responseStatus: "SUCCESS"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\accounts\(accountId)\transactions:application\json:fins-core-banking-accounts-sys-api-spec-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="accountId">attributes.uriParams.'accountId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  responseStatus: "SUCCESS"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
